.open {
    padding: 10px;
    margin: 30px auto;
    width: 100px;
    text-align: center;
    font-size: 15px;
    display: block;
    cursor: pointer;
    color: #c7c7c7;
    font-weight: 500;
  }

  .open:hover {
    color: #fff;
  }
  
  #toggle {
    display: none;
  }

  #toggle1 {
    display: none;
  }
  
  .modal {
    position: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000066;
    display: none;
  }
  
  .contentmodal {
    position: absolute;
    width: 55%;
    height: 950px;
    background: #00203D;
    top: 55%;
    left: 50%;
    border-radius: 2%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: anime 0.5s;
  }
  
  .contentmodal h1 {
    clear: right;
    font-weight: 800;
    display: inline-block;
}

  .contentmodal p {
    clear: right;
    margin: none;
  }
  
  .close {
    font-size: 30px;
    float: right;
    margin: 15px;
    cursor: pointer;
  }
  
  @keyframes anime {
    0% {
        opacity: 0;
        margin-top: -50px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
  }
  
  #toggle:checked+.modal {
    display: block;
  }

  #toggle1:checked+.modal {
    display: block;
  }

.paragraph {
    text-align: center;
    justify-content: center;
    position: flex;
    display: inline-block;
    margin-left: 5vmin;
    margin-right: 5vmin;

}

.roletitle {
    font-weight: 800;
}

.docsimg {
    width: 8vmin;
    vertical-align: middle;
}

.titleimg {
    padding-top: 5vmin;
}

.bold {
    font-weight: 800;
}

.contentmodal1 {
  position: absolute;
  width: 55%;
  height: 800px;
  background: #00203D;
  top: 55%;
  left: 50%;
  border-radius: 2%;
  transform: translate(-50%, -50%);
  text-align: center;
  animation: anime 0.5s;
}

.contentmodal1 h1 {
  clear: right;
  font-weight: 800;
  display: inline-block;
}

.contentmodal1 p {
  clear: right;
  margin: none;
}

.cross {
  width: 2vmin;
  vertical-align: middle;
  margin-right: 0.5vmin;

}

.cannot {
  text-align: left;
  margin-left: 5vmin;
}

.security-text {
  text-align: left;
  margin-left: 5vmin;
}

.doc-text {
  text-align: left;
  margin-left: 5vmin;
}

.min-text {
  font-size: 15px;
}

@media screen and (max-width: 1790px) {
  .contentmodal {
    height: 1500px;
    top: 80%;
  }
  .contentmodal1 {
    height: 1500px;
    top: 80%;
  }
}